<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Főoldal</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div id="main-kontener">
        <h1>RollingRent</h1>
    </div>
</body>
</html>