<div id="nav-kontener">
    <li><a href="/api">Főoldal</a></li>
    <li><a href="/api/users-backend">Felhasználók</a></li>
    <li><a href="/api/cars-backend">Autók</a></li>
    <li><a href="/api/new-car">Új kocsi felvétele</a></li>
</div>
