<div id="nav-kontener">
    <li><a href="/">Főoldal</a></li>
    <li><a href="/users-backend">Felhasználók</a></li>
    <li><a href="/cars-backend">Autók</a></li>
    <li><a href="/newcar">Új kocsi felvétele</a></li>
</div>