.kocsik-kontener {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.szurok {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; /* EZ HIÁNYZOTT */
  width: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1{
  height: auto;
} 

@media  screen and (max-width: 1250px) {
  .kocsik-kontener {
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media  screen and (max-width: 750px) {
  .kocsik-kontener {
    grid-template-columns: repeat(1, 1fr);
  }  
}

@media screen and (max-width: 750px) {
  .szurok {
    flex-direction: column;
    align-items: center;
  }
}

